In [38]:
from peewee import MySQLDatabase, AutoField, CharField, DateField, ForeignKeyField, Model, IntegerField, TextField, Field, fn, JOIN
from playhouse.hybrid import hybrid_property
import datetime

db = MySQLDatabase('pil2023', user='root', password='Pil2023', host='localhost', port=3306)

In [40]:
class Profesores(Model):
    first_name = CharField()
    last_name = CharField()
    gender = CharField()
    phone = CharField()
    birthdate = DateField()
    email = CharField(unique=True)

    class Meta:
        database = db

    @hybrid_property
    def age(self):
        today = datetime.date.today()
        age = today.year - self.birthdate.year
        if (today.year, today.month, today.day) < (today.year, self.birthdate.month, self.birthdate.day):
            age -= 1
        return age

class Cursos(Model):
    cod_curso = CharField()
    fecha_inicio_curso = DateField()
    fecha_fin_curso = DateField()
    turno = CharField()

    class Meta:
        database = db

class Alumnos(Model):
    first_name = CharField()
    last_name = CharField()
    gender = CharField()
    phone = CharField()
    birthdate = DateField()
    email = CharField(unique=True)

    class Meta:
        database = db
    
    @hybrid_property
    def age(self):
        today = datetime.date.today()
        age = today.year - self.birthdate.year
        if (today.year, today.month, today.day) < (today.year, self.birthdate.month, self.birthdate.day):
            age -= 1
        return age

class ProfesoresCursos(Model):
	profesor = ForeignKeyField(Profesores, backref="profesxcursos")
	curso = ForeignKeyField(Cursos, backref="profesxcursos")
	
	class Meta:
		database = db

class AlumnosCursos(Model):
	alumno = ForeignKeyField(Alumnos, backref="alumnoxcursos")
	curso = ForeignKeyField(Cursos, backref="alumnoxcursos")

	class Meta:
		database = db

In [45]:

db.connect()
db.create_tables([Profesores, Cursos, Alumnos, ProfesoresCursos, AlumnosCursos])

In [46]:
dataset_profesores=[{  "first_name": "Augustina",  "last_name": "Torbeck",  "gender": "Female",  "phone": "527-351-5806",  "birthdate": "1996-07-09",  "email": "atorbeck0@blinklist.com"}, 
{  "first_name": "Catherina",  "last_name": "Ortsmann",  "gender": "Female",  "phone": "839-134-4511",  "birthdate": "1994-05-27",  "email": "cortsmann1@deviantart.com"}, 
{  "first_name": "Nigel",  "last_name": "Petraitis",  "gender": "Male",  "phone": "140-987-8112",  "birthdate": "1972-02-15",  "email": "npetraitis2@simplemachines.org"}, 
{  "first_name": "Valenka",  "last_name": "Kropach",  "gender": "Female",  "phone": "143-524-5309",  "birthdate": "1964-03-08",  "email": "vkropach3@disqus.com"}, 
{  "first_name": "Yvonne",  "last_name": "Blinerman",  "gender": "Female",  "phone": "130-604-2773",  "birthdate": "1961-08-30",  "email": "yblinerman4@pen.io"}, 
{  "first_name": "Alejoa",  "last_name": "Geale",  "gender": "Male",  "phone": "206-101-4512",  "birthdate": "1993-12-12",  "email": "ageale5@last.fm"}, 
{  "first_name": "Shermy",  "last_name": "Izak",  "gender": "Male",  "phone": "118-219-7303",  "birthdate": "1983-03-22",  "email": "sizak6@webnode.com"}, 
{  "first_name": "Vaughan",  "last_name": "Attwool",  "gender": "Male",  "phone": "208-132-1783",  "birthdate": "2002-10-26",  "email": "vattwool7@mozilla.org"}, 
{  "first_name": "Haroun",  "last_name": "Ginsie",  "gender": "Male",  "phone": "514-463-6407",  "birthdate": "1983-08-30",  "email": "hginsie8@tamu.edu"}, 
{  "first_name": "Waldemar",  "last_name": "Daltry",  "gender": "Male",  "phone": "272-208-2265",  "birthdate": "1962-09-10",  "email": "wdaltry9@vk.com"}, 
{  "first_name": "Caresse",  "last_name": "Battell",  "gender": "Female",  "phone": "720-300-0554",  "birthdate": "2001-12-14",  "email": "cbattella@qq.com"}, 
{  "first_name": "Tommie",  "last_name": "Draaisma",  "gender": "Female",  "phone": "686-879-3067",  "birthdate": "1963-03-03",  "email": "tdraaismab@vkontakte.ru"}, 
{  "first_name": "Adrian",  "last_name": "Thames",  "gender": "Male",  "phone": "520-913-4609",  "birthdate": "1995-01-08",  "email": "athamesc@wiley.com"}, 
{  "first_name": "Cyndia",  "last_name": "Ianno",  "gender": "Female",  "phone": "597-934-6289",  "birthdate": "1996-06-15",  "email": "ciannod@4shared.com"}, 
{  "first_name": "Boycie",  "last_name": "Bagwell",  "gender": "Male",  "phone": "792-756-5502",  "birthdate": "1970-06-20",  "email": "bbagwelle@statcounter.com"}, 
{  "first_name": "Dyanna",  "last_name": "Castello",  "gender": "Female",  "phone": "936-112-0773",  "birthdate": "1961-09-24",  "email": "dcastellof@wordpress.org"}, 
{  "first_name": "Broderick",  "last_name": "Brass",  "gender": "Male",  "phone": "763-953-5380",  "birthdate": "1979-10-10",  "email": "bbrassg@dell.com"}, 
{  "first_name": "Nicky",  "last_name": "Alker",  "gender": "Female",  "phone": "137-264-4313",  "birthdate": "1967-05-23",  "email": "nalkerh@hao123.com"}, 
{  "first_name": "Leisha",  "last_name": "Sales",  "gender": "Female",  "phone": "908-756-3854",  "birthdate": "1960-11-29",  "email": "lsalesi@chicagotribune.com"}, 
{  "first_name": "Lisetta",  "last_name": "Folini",  "gender": "Female",  "phone": "645-282-7180",  "birthdate": "1983-07-16",  "email": "lfolinij@amazon.de"}]

In [47]:
dataset_cursos = [{'cod_curso': 'python_fullstack_2023', 'fecha_inicio_curso': '2023-08-01', 'fecha_fin_curso': '2023-12-01', 'turno': 'Noche'},
{'cod_curso': 'python_net_2023', 'fecha_inicio_curso': '2023-08-01', 'fecha_fin_curso': '2023-12-01', 'turno': 'MaÃ±ana'},
{'cod_curso': 'testing_qa_2023', 'fecha_inicio_curso': '2023-08-01', 'fecha_fin_curso': '2023-12-01', 'turno': 'Tarde'},
{'cod_curso': 'python_db_2023', 'fecha_inicio_curso': '2023-08-01', 'fecha_fin_curso': '2023-12-01', 'turno': 'Noche'}]

In [48]:
dataset_alumnos = [{"first_name":"Carry","last_name":"GiacobbiniJacob","gender":"Female","phone":"294-665-4479","birthdate":"2002-08-04","email":"cgiacobbinijacob0@youtu.be"},
{"first_name":"Madelon","last_name":"Kenvin","gender":"Female","phone":"194-724-6252","birthdate":"1990-12-24","email":"mkenvin1@vinaora.com"},
{"first_name":"Lorant","last_name":"Wattisham","gender":"Male","phone":"603-125-2716","birthdate":"1995-03-25","email":"lwattisham2@theglobeandmail.com"},
{"first_name":"Aggi","last_name":"Stonnell","gender":"Female","phone":"488-362-7648","birthdate":"1997-02-15","email":"astonnell3@seesaa.net"},
{"first_name":"Patrizio","last_name":"Licquorish","gender":"Male","phone":"693-653-5871","birthdate":"1997-09-08","email":"plicquorish4@google.com.au"},
{"first_name":"Andrew","last_name":"Demsey","gender":"Male","phone":"289-966-4977","birthdate":"1998-11-23","email":"ademsey5@hhs.gov"},
{"first_name":"Blanch","last_name":"Lemasney","gender":"Female","phone":"560-695-0177","birthdate":"1993-12-27","email":"blemasney6@printfriendly.com"},
{"first_name":"Vin","last_name":"Oseman","gender":"Female","phone":"585-443-0003","birthdate":"1997-06-24","email":"voseman7@phpbb.com"},
{"first_name":"Tremaine","last_name":"Hischke","gender":"Male","phone":"591-732-2627","birthdate":"2003-04-15","email":"thischke8@dailymotion.com"},
{"first_name":"Mel","last_name":"Dollman","gender":"Female","phone":"181-698-9668","birthdate":"1993-11-13","email":"mdollman9@zdnet.com"},
{"first_name":"Ralph","last_name":"Finker","gender":"Male","phone":"599-604-8229","birthdate":"2002-10-08","email":"rfinkera@opensource.org"},
{"first_name":"Tessy","last_name":"Germon","gender":"Female","phone":"741-318-5571","birthdate":"1999-12-28","email":"tgermonb@npr.org"},
{"first_name":"Austen","last_name":"Simonin","gender":"Male","phone":"508-845-7763","birthdate":"1995-05-03","email":"asimoninc@usnews.com"},
{"first_name":"Juline","last_name":"Mandifield","gender":"Female","phone":"929-533-3434","birthdate":"1996-05-04","email":"jmandifieldd@weibo.com"},
{"first_name":"Lacey","last_name":"McCritichie","gender":"Female","phone":"866-278-1119","birthdate":"2002-06-10","email":"lmccritichiee@networksolutions.com"},
{"first_name":"Demott","last_name":"Sunderland","gender":"Male","phone":"372-725-7401","birthdate":"1995-05-24","email":"dsunderlandf@simplemachines.org"},
{"first_name":"Myles","last_name":"Lebell","gender":"Male","phone":"161-369-5776","birthdate":"1997-09-09","email":"mlebellg@4shared.com"},
{"first_name":"De","last_name":"Bolter","gender":"Female","phone":"626-252-0056","birthdate":"1992-09-30","email":"dbolterh@unicef.org"},
{"first_name":"Torrance","last_name":"Fortin","gender":"Male","phone":"939-622-0708","birthdate":"2002-01-15","email":"tfortini@ucla.edu"},
{"first_name":"Wilhelmine","last_name":"Wrightim","gender":"Female","phone":"477-512-4429","birthdate":"2003-07-07","email":"wwrightimj@gov.uk"},
{"first_name":"Carson","last_name":"Ulster","gender":"Male","phone":"578-425-6731","birthdate":"1995-07-24","email":"culsterk@china.com.cn"},
{"first_name":"Win","last_name":"Bibb","gender":"Male","phone":"952-540-0802","birthdate":"1995-07-03","email":"wbibbl@google.nl"},
{"first_name":"Eleonora","last_name":"Troy","gender":"Female","phone":"387-313-4967","birthdate":"1997-07-07","email":"etroym@deliciousdays.com"},
{"first_name":"Kristos","last_name":"Farquarson","gender":"Male","phone":"853-209-5835","birthdate":"2000-09-14","email":"kfarquarsonn@histats.com"},
{"first_name":"Caryl","last_name":"Kliesl","gender":"Male","phone":"271-298-1496","birthdate":"1999-10-02","email":"cklieslo@technorati.com"},
{"first_name":"Magdalene","last_name":"Varley","gender":"Female","phone":"736-805-9573","birthdate":"2001-07-10","email":"mvarleyp@msn.com"},
{"first_name":"Evie","last_name":"Esson","gender":"Female","phone":"558-600-7357","birthdate":"1992-05-04","email":"eessonq@free.fr"},
{"first_name":"Lindsay","last_name":"Playhill","gender":"Female","phone":"777-279-8422","birthdate":"1998-03-20","email":"lplayhillr@1688.com"},
{"first_name":"Nichol","last_name":"Belward","gender":"Female","phone":"410-673-4433","birthdate":"2003-07-25","email":"nbelwards@mayoclinic.com"},
{"first_name":"Charla","last_name":"Faich","gender":"Female","phone":"992-680-8355","birthdate":"1994-08-19","email":"cfaicht@boston.com"},
{"first_name":"Tarrance","last_name":"Snoxell","gender":"Male","phone":"407-592-0005","birthdate":"1999-01-04","email":"tsnoxellu@cdc.gov"},
{"first_name":"Teri","last_name":"Grishelyov","gender":"Female","phone":"670-350-8807","birthdate":"1992-11-28","email":"tgrishelyovv@go.com"},
{"first_name":"Ashby","last_name":"Hick","gender":"Male","phone":"968-293-4816","birthdate":"1995-12-20","email":"ahickw@army.mil"},
{"first_name":"Orin","last_name":"Dykes","gender":"Male","phone":"489-621-0939","birthdate":"1991-11-29","email":"odykesx@technorati.com"},
{"first_name":"Iver","last_name":"Wolseley","gender":"Male","phone":"419-319-6451","birthdate":"2002-11-18","email":"iwolseleyy@reverbnation.com"},
{"first_name":"Codie","last_name":"Cumberlidge","gender":"Female","phone":"179-388-7146","birthdate":"1994-02-02","email":"ccumberlidgez@msu.edu"},
{"first_name":"Sheree","last_name":"Van Der Vlies","gender":"Female","phone":"809-557-1164","birthdate":"1999-01-20","email":"svandervlies10@furl.net"},
{"first_name":"Faith","last_name":"Garralts","gender":"Female","phone":"947-780-2410","birthdate":"1992-05-29","email":"fgarralts11@shinystat.com"},
{"first_name":"Uta","last_name":"Glossop","gender":"Female","phone":"428-185-7460","birthdate":"1999-09-30","email":"uglossop12@uiuc.edu"},
{"first_name":"Neron","last_name":"Goffe","gender":"Male","phone":"917-185-6340","birthdate":"1991-03-26","email":"ngoffe13@tinypic.com"},
{"first_name":"Jacinda","last_name":"Raubenheimers","gender":"Female","phone":"108-111-6815","birthdate":"1995-07-11","email":"jraubenheimers14@mit.edu"},
{"first_name":"Dasie","last_name":"Brind","gender":"Female","phone":"518-683-8054","birthdate":"1997-02-16","email":"dbrind15@ezinearticles.com"},
{"first_name":"Caron","last_name":"Lattin","gender":"Female","phone":"183-730-7102","birthdate":"2000-11-08","email":"clattin16@technorati.com"},
{"first_name":"Dasi","last_name":"Dyerson","gender":"Female","phone":"503-177-5772","birthdate":"1996-04-05","email":"ddyerson17@uol.com.br"},
{"first_name":"Amberly","last_name":"Zimmermeister","gender":"Female","phone":"743-344-3445","birthdate":"2002-10-21","email":"azimmermeister18@tumblr.com"},
{"first_name":"Marie-jeanne","last_name":"Fagg","gender":"Female","phone":"656-210-3859","birthdate":"1996-12-28","email":"mfagg19@cbslocal.com"},
{"first_name":"Valera","last_name":"Kaiser","gender":"Female","phone":"335-701-8769","birthdate":"1998-01-25","email":"vkaiser1a@rakuten.co.jp"},
{"first_name":"Oberon","last_name":"Corbert","gender":"Male","phone":"356-512-4841","birthdate":"2003-03-29","email":"ocorbert1b@wikipedia.org"},
{"first_name":"Dayle","last_name":"Holsey","gender":"Female","phone":"439-196-9075","birthdate":"1996-05-01","email":"dholsey1c@google.ru"},
{"first_name":"Dev","last_name":"Logue","gender":"Male","phone":"817-115-6728","birthdate":"1994-10-22","email":"dlogue1d@amazon.co.uk"}]

In [49]:
with db.atomic():
   Profesores.insert_many(dataset_profesores).execute()
   Cursos.insert_many(dataset_cursos).execute()
   Alumnos.insert_many(dataset_alumnos).execute()

In [75]:
query = Profesores.select().where(Profesores.age > 40)




#x=Profesores.select().where(Profesores.age >45)

In [73]:
print(query.sql())

('SELECT `t1`.`id`, `t1`.`first_name`, `t1`.`last_name`, `t1`.`gender`, `t1`.`phone`, `t1`.`birthdate`, `t1`.`email` FROM `profesores` AS `t1` WHERE ((%s - EXTRACT(year FROM `t1`.`birthdate`)) > %s)', [2022, 30])

In [ ]:
for v in query:
	print('{}, {}: {}'.format(v.first_name,v.last_name, v.age))

In [77]:
dataset_profesores_cursos = [("Catherina","Ortsmann","python_net_2023"),
("Catherina","Ortsmann","testing_qa_2023"),
("Alejoa","Geale","python_db_2023"),
("Alejoa","Geale","python_fullstack_2023"),
("Alejoa","Geale","python_net_2023"),
("Alejoa","Izak","python_net_2023")]

for nombre_profe, apellido_profe, codigo_curso in dataset_profesores_cursos:
	profe = Profesores.get(Profesores.first_name == nombre_profe and Profesores.last_name == apellido_profe)
	
	cur = Cursos.get(Cursos.cod_curso == codigo_curso)
	
	ProfesoresCursos.create(profesor = profe, curso=cur)

In [ ]:
query = (Profesores
			.select(Profesores.first_name, Profesores.last_name, Cursos.cod_curso)
			.join(ProfesoresCursos)
			.join(Cursos)
			.order_by(Profesores.first_name))

for valor in query.tuples():
	print(valor)

In [ ]:
print(query.sql())

In [ ]:
registro=AlumnosCursos.create(
	alumno=Alumnos.get(Alumnos.first_name == 'Carry' & Alumnos.last_name == 'GiacobbiniJacob'), 
	curso=Cursos.get(Cursos.cod_curso =='python_net_2023')
	)

registro.save()

print(registro.get_id())

In [ ]:
profes = Profesores.select().order_by(Profesores.first_name , Profesores.last_name )

for n in profes.tuples():
	print(n)

In [ ]:
profes= Profesores.select().offset(5).limit(10)
for n in profes.tuples():
	print(n)

In [ ]:
query = (Profesores
			.select(Profesores.first_name, Profesores.last_name, Cursos.cod_curso, Alumnos.first_name, Alumnos.last_name)
			.join(ProfesoresCursos)
			.join(Cursos)
			.join(AlumnosCursos)
			.join(Alumnos))

for valor in query.tuples():
	print(valor)

In [ ]:
print(query.sql())

Reflector

In [ ]:
from peewee import *
from playhouse.reflection import generate_models
db = MySQLDatabase('pil2023', user='root', password='Pil2023', host='localhost', port=3306)
models = generate_models(db)
list(models.keys())

Inyectamos los modelos en el namespace
Select usando el modelo generado

In [ ]:
globals().update(models)
for cust in tblUsuarios.select(): 
	print(cust.nombre)