Para utilizar Pandas con MySQL y otra base de datos, necesitamos utilizar sqlalchemy.
SQLAlchemy es un kit de herramientas SQL de Python y mapeador relacional de objetos (ORM - Object Relational Mapper) que ofrece toda la potencia y flexibilidad de SQL.

In [ ]:
pip install sqlalchemy

In [ ]:
pip install pymysql

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

cadena_conexion = 'mysql+pymysql://root:Pil2023@127.0.0.1/pil2023'
sqlEngine       = create_engine(cadena_conexion, pool_recycle=3600)
dbConnection    = sqlEngine.connect()
frame           = pd.read_sql("select * from tblUsuarios", dbConnection)
pd.set_option('display.expand_frame_repr', False)
print(frame)
dbConnection.close()

Filtrar datos, agrupar y calcular suma, promedio, valores mínimos y máximos de la columna suma

In [ ]:
frame2=frame[(frame.sexo == 'M') & (frame.saldo>150) & (frame.compañia !=None)]
sub_totales=frame2.groupby(frame2.compañia)['saldo'].agg(Cantidad='count', Suma='sum', Promedio='mean', Maximo='max', Minimo='min').agg(list).reset_index()

print("frame2:")
print(frame2)
print()

print('sub_totales')
print(sub_totales)
print()

print('sub_totales convertido a lista')
x=sub_totales.values.tolist()
print(x)

Obtener solo columnas nombre, compañia y saldo

In [ ]:
frame[['nombre','compañia','saldo']]

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

cadena_conexion = 'mysql+pymysql://root:Pil2023@127.0.0.1/pil2023'
sqlEngine       = create_engine(cadena_conexion, pool_recycle=3600)
dbConnection    = sqlEngine.connect()
df              = pd.read_csv('clientes.csv', sep=";")

try:
	frame = df.to_sql("clientes", dbConnection, if_exists='fail')
except ValueError as vx:
	print (vx)
except Exception as ex:
	print (ex)
else:
	print("Tabla creada con éxito")
finally:
	dbConnection.close()

In [ ]:
df.rename(columns={'age':'edad'})

In [ ]:
df[(df.job=="services")]

Contextos y conexiones a MySQL / Transacciones

In [ ]:
pip install contextlib2

In [ ]:
import MySQLdb
import MySQLdb.cursors as mc
import contextlib
Cursor = mc.Cursor

HOST="127.0.01"
USER="root"
PASS="Pil2023"
BASE="pil2023"

@contextlib.contextmanager
def conexion():
    connection = MySQLdb.connect(host=HOST, user=USER, passwd=PASS, db=BASE, cursorclass=Cursor)
    try:
        yield connection
    except connection.Error as error:
        connection.rollback()
        print("Error al ejecutar sql {}".format(error))
    else:
        connection.commit()
    finally:
        connection.close()

@contextlib.contextmanager
def cursor():
    with conexion() as conn:
        cursor = conn.cursor()
        try:
            yield cursor
        finally:
            cursor.close()


with cursor() as cur:
    sql ="""insert into tblUsuarios (idx,nombre) VALUES (22,"Juan")"""
    cur.execute(sql)

    batch_id = cur.execute('select last_insert_id() from tblUsuarios')

    sql ="""UPDATE tblUsuarios set saldo=999 where idx=22"""
    cur.execute(sql)

    sql = 'select * from tblUsuarios'
    cur.execute(sql)
    for fila in cur:
        print(fila)