# Python y MySQL

En este notebook vamos nos vamos a conectar a nuestra base de datos MySQL, crearemos una nueva base de datos, una nueva tabla, insertaremos registros y trabajaremos con ellos.

**Recomendación**: además de realizar los ejercicios, les sugerimos fuertemente que vayan probando y modificando el código presente en este notebook. La mejor manera de aprender es haciendo, 'romper' el código e intentar entender porque dejó de funcionar. ¡No hay nada irreversible, no tengas miedo! Siempre podés volver a descargar el notebook.

## Instalación de mysqlclient
Esta es una aplicación de cliente de base de datos que sirve como medio/interfaz entre el usuario que ejecuta los códigos Python y la base de datos mysql. mysqlclient fue desarrollado para reemplazar MySql-python y brinda soporte para Python3, aunque también es compatible con versiones anteriores.

In [ ]:
pip install mysqlclient

## Crear conexión entre python y MySQL
Importar MySQLdb
MySQLdb.connect(host="localhost", user="root", passwd="Pil2023", db="jonhydb")

**Donde:**

| <!-- -->    | <!-- -->    |
|-------------|-------------|
|**host:**     | Es la dirección del servidor donde nos conectaremos. puede ser un dominio o una dirección IP. Para conectarnos anuestro MySQL local usaremos 127.0.0.1 o localhost.|
|**user:**     |Es el usuario configurado en la base de datos.|
|**passwd:**   |Es la contraseña configurada para ese usuario.|
|**db:**       |Es opcional, y hace referencia a la base de datos que nos conectaremos por defecto.|

In [ ]:
import MySQLdb

In [ ]:
db = MySQLdb.connect(host="localhost",
                     user="root",
                     passwd="Pil2023",
                     db="Pil2023")

Pasos para ejecutar una sentencia SQL
1. Crear un cursor
2. Ejecutar la sentencia SQL
3. Ejecutar commit para confirmar la transacción
4. Cerrar cursor

In [ ]:
cursor=db.cursor()

crear_tabla="""CREATE TABLE IF NOT EXISTS tblUsuarios (
   idx INT PRIMARY KEY AUTO_INCREMENT,
   usuario VARCHAR(20),
   nombre VARCHAR(20),
   sexo VARCHAR(1),
   nivel TINYINT,
   email VARCHAR(50),
   telefono VARCHAR(20),
   marca VARCHAR(20),
   compañia VARCHAR(20),
   saldo FLOAT,
   activo BOOLEAN
)"""

cursor.execute(crear_tabla)
cursor.close()

## Insertar registro simple ##

**cursor.execute()**

Cómo insertar en la tabla MySQL desde Python  

**Conectarse a MySQL desde Python**
Referenciar la conexión de MySQL de Python para conectarse a la base de datos MySQL desde Python usando el módulo MySQLdb Connector  

Definir una consulta de inserción SQL  
A continuación, preparar una consulta SQL INSERT para insertar una fila en una tabla. en la consulta de inserción, mencionamos los nombres de las columnas y sus valores para insertar en una tabla.  
Por ejemplo, INSERT INTO mysql_table (columna1, columna2, …) VALORES (valor1, valor2, …);  

Obtener objeto de cursor de la conexión  
A continuación, utilice el método connection.cursor() para crear un objeto de cursor. Este método crea un nuevo objeto MySQLCursor.  

Ejecute la consulta de inserción usando el método execute()  
Ejecute la consulta de inserción utilizando el método cursor.execute(). Este método ejecuta la operación almacenada en la consulta de inserción.  

Confirma tus cambios  
Después de la ejecución exitosa de una consulta, haga que los cambios sean persistentes en la base de datos utilizando el commit() de la clase de conexión.  

Obtener el número de filas afectadas  
Después de una operación de inserción exitosa, use un método cursor.rowcount para obtener el número de filas afectadas. El recuento depende de cuántas filas esté insertando.  

Verifique el resultado usando la consulta SQL SELECT  
Ejecute una consulta de selección de MySQL desde Python para ver los nuevos cambios.  

Cierre el objeto del cursor y el objeto de conexión de la base de datos.  
Usar el método cursor.close() y connection.close() para cerrar las conexiones abiertas después de completar el trabajo.

In [ ]:
mySql_insert_query="""INSERT INTO tblUsuarios VALUES (1,'BRE2271','BRENDA','M',2,'brenda@live.com','655-330-5736','SAMSUNG','IUSACELL',100,1)"""
cursor=db.cursor()
cursor.execute(mySql_insert_query)
db.commit()
print (cursor.rowcount, "Registros insertados en la tabla")
cursor.close()

## Insertar múltiples registros ##
**cursor.executemany()**

In [ ]:
datos=[
(2,'OSC4677','OSCAR','H',2,'oscar@gmail.com','655-143-4181','LG','TELCEL',0,1),
(3,'JOS7086','JOSE','H',3,'francisco@gmail.com','655-143-3922','NOKIA','MOVISTAR',150,1),
(4,'LUI6115','LUIS','H',0,'enrique@outlook.com','655-137-1279','SAMSUNG','TELCEL',50,1),
(5,'LUI7072','LUIS','H',1,'luis@hotmail.com','655-100-8260','NOKIA','IUSACELL',50,0),
(6,'DAN2832','DANIEL','H',0,'daniel@outlook.com','655-145-2586','SONY','UNEFON',100,1),
(7,'JAQ5351','JAQUELINE','M',0,'jaqueline@outlook.com','655-330-5514','IPHONE','AXEL',0,1),
(8,'ROM6520','ROMAN','H',2,'roman@gmail.com','655-330-3263','LG','IUSACELL',50,1),
(9,'BLA9739','BLAS','H',0,'blas@hotmail.com','655-330-3871','LG','UNEFON',100,1),
(10,'JES4752','JESSICA','M',1,'jessica@hotmail.com','655-143-6861','SAMSUNG','TELCEL',500,1),
(11,'DIA6570','DIANA','M',1,'diana@live.com','655-143-3952','SONY','UNEFON',100,0),
(12,'RIC8283','RICARDO','H',2,'ricardo@hotmail.com','655-145-6049','MOTOROLA','IUSACELL',150,1),
(13,'VAL6882','VALENTINA','M',0,'valentina@live.com','655-137-4253','IPHONE','AT&T',50,0),
(14,'BRE8106','BRENDA','M',3,'brenda2@gmail.com','655-100-1351','MOTOROLA','NEXTEL',150,1),
(15,'LUC4982','LUCIA','M',3,'lucia@gmail.com','655-145-4992','IPHONE','IUSACELL',0,1),
(16,'JUA2337','JUAN','H',0,'juan@outlook.com','655-100-6517','SAMSUNG','AXEL',0,0),
(17,'ELP2984','ELPIDIO','H',1,'elpidio@outlook.com','655-145-9938','MOTOROLA','MOVISTAR',500,1),
(18,'JES9640','JESSICA','M',3,'jessica2@live.com','655-330-5143','SONY','IUSACELL',200,1),
(19,'LET4015','LETICIA','M',2,'leticia@yahoo.com','655-143-4019','IPHONE','UNEFON',100,1),
(20,'LUI1076','LUIS','H',3,'luis2@live.com','655-100-5085','SONY','UNEFON',150,1),
(21,'HUG5441','HUGO','H',2,'hugo@live.com','655-137-3935','MOTOROLA','AT&T',500,1)
]

In [ ]:
insertar="""INSERT INTO tblUsuarios VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
cursor=db.cursor()
cursor.executemany(insertar,datos)
db.commit();
print (cursor.rowcount, "Registros insertados en la tabla")
cursor.close();

## Cerrar conector ##

In [ ]:
db.close()

## Captura de errores ##

In [ ]:
try:
    connection = MySQLdb.connect(host="localhost",
                     user="root",
                     passwd="Pil2023",
                     db="Pil2023")

    mySql_insert_query="""INSERT INTO tblUsuarios (idx, usuario, nombre, sexo, nivel, email, telefono, marca, compañia, saldo, activo) 
                        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

    datos=(1,'BRE2271','BRENDA','M',2,'brenda@live.com','655-330-5736','SAMSUNG','IUSACELL',100,1)

    cursor = connection.cursor()
    cursor.execute(mySql_insert_query,datos)
    connection.commit()
    print(cursor.rowcount, "Registros insertados en la tabla")
    cursor.close()

except MySQLdb.Error as error:
    print("Error al insertar registro en la tabla {}".format(error))

finally:
    if connection.ping:
        connection.close()
        print("Conexión con MySQL cerrada")

## Convertimos el código anterior en función para reutilizar indefinidamente en nuestro código ##

In [ ]:
def insertar_en_tabla(idx, usuario, nombre, sexo, nivel, email, telefono, marca, compañia, saldo, activo):
	try:
		connection = MySQLdb.connect(host="localhost",
						user="root",
						passwd="Pil2023",
						db="Pil2023")

		mySql_insert_query="""INSERT INTO tblUsuarios VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

		datos=(idx, usuario, nombre, sexo, nivel, email, telefono, marca, compañia, saldo, activo)

		cursor = connection.cursor()
		cursor.execute(mySql_insert_query,datos)
		connection.commit()
		print(cursor.rowcount, "Registros insertados en la tabla")
		cursor.close()

	except MySQLdb.Error as error:
		print("Error al insertar registro en la tabla {}".format(error))

	finally:
		if connection.ping:
			connection.close()
			print("Conexión con MySQL cerrada")

insertar_en_tabla(100,'MAR2134','MARIELA','M',1,'mariela@live.com','365-254-9874','SAMSUNG','IUSACELL',123.67,1)
insertar_en_tabla(101,'VIC8734','VICTORIA','M',2,'victoria@live.com','457-658-1236','SAMSUNG','IUSACELL',574.32,1)

## Ejercicios con consultas simples ##

**Listar los nombres de los usuarios**  
SELECT nombre FROM tblUsuarios;  

**Calcular el saldo máximo de los usuarios de sexo "Mujer"**  
SELECT MAX(saldo) FROM tblUsuarios WHERE sexo = 'M';  

**Listar nombre y teléfono de los usuarios con teléfono NOKIA, IPHONE o SONY**  
SELECT nombre, telefono FROM tblUsuarios WHERE marca IN('NOKIA', 'IPHONE', 'SONY');

Contar los usuarios sin saldo o inactivos**  
SELECT COUNT(*) FROM tblUsuarios WHERE NOT activo OR saldo <= 0;  

**Listar el login de los usuarios con nivel 1, 2 o 3**  
SELECT usuario FROM tblUsuarios WHERE nivel IN(1, 2, 3);  

**Listar los números de teléfono con saldo menor o igual a 300**  
SELECT telefono FROM tblUsuarios WHERE saldo <= 300;  

**Calcular la suma de los saldos de los usuarios de la compañia telefónica NEXTEL**  
SELECT SUM(saldo) FROM tblUsuarios WHERE compañia = 'NEXTEL';  

**Contar el número de usuarios por compañía telefónica**  
SELECT compañia, COUNT(*) FROM tblUsuarios GROUP BY compañia;  

**Contar el número de usuarios por nivel**  
SELECT nivel, COUNT(*) FROM tblUsuarios GROUP BY nivel;  

**Listar el login de los usuarios con nivel 2**  
SELECT usuario FROM tblUsuarios WHERE nivel = 2;  

**Mostrar el email de los usuarios que usan gmail**  
SELECT email FROM tblUsuarios WHERE email LIKE '%gmail.com';  

**Listar nombre y teléfono de los usuarios con teléfono LG, SAMSUNG o MOTOROLA**  
SELECT nombre, telefono FROM tblUsuarios WHERE marca IN('LG', 'SAMSUNG', 'MOTOROLA');

In [ ]:
def seleccionar_en_tabla(sql):
    try:
        connection = MySQLdb.connect(host="localhost",
						user="root",
						passwd="Pil2023",
						db="Pil2023")

        cursor = connection.cursor()
        cursor.execute(sql)
        rows = cursor.fetchall()
        connection.commit()
        print(cursor.rowcount, "Registros recuperados en la tabla")
        cursor.close()

    except MySQLdb.Error as error:
        print("Error al insertar registro en la tabla {}".format(error))

    finally:
        if connection.ping:
            connection.close()
            print("Conexión con MySQL cerrada")
        return rows

filas = seleccionar_en_tabla("SELECT nombre FROM tblUsuarios")

for row in filas:
    print(row[0])